@tailwind base;
@tailwind components;
@tailwind utilities;

*{
margin: 0;
padding: 0;
}

@layer components {
    .main-container {
      @apply container px-5;
    }
  }

  *{
    font-family: sans-serif;
  }

  /* Custom scrollbar styles */
.scrollbar-track {
  background: #1a202c; /* Dark background for scrollbar track */
}

.scrollbar-thumb {
  background-color: #4a5568; /* Thumb color */
  border-radius: 6px; /* Rounded corners for thumb */
  border: 3px solid #2d3748; /* Border for thumb to give some padding */
}

/* Scrollbar styles for webkit browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1a202c; /* Dark background for scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Thumb color */
  border-radius: 6px; /* Rounded corners for thumb */
  border: 3px solid #2d3748; /* Border for thumb to give some padding */
}
